<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Categories grouping</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">

  <style>
    body {
      padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
    }
  </style>

  <%= stylesheet_link_tag    'application', :media => 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>

</head>

<body>

<div class="navbar navbar-inverse navbar-fixed-top">
  <div class="navbar-inner">
    <div class="container">
      <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="brand" href="<%= root_path %>">Categories grouping</a>
      <div class="nav-collapse collapse">
        <ul class="nav">
          <% %w(products categories category_offers offers).each do |item| %>
            <li><%= link_to item.titleize, send((item+'_path').to_sym) %></li>
          <% end %>
        </ul>
      </div><!--/.nav-collapse -->
    </div>
  </div>
</div>

<div class="container">
  <% if notice %>
    <p id="notice"><%= notice %></p>
  <% end %>
  <%= yield %>

</div> <!-- /container -->

</body>
</html>
